<div class="setono-shipment-countdown ui left stackable inverted menu"
     style="display: none;"
     data-next-shipment-date="{{ setono_shipping_countdown_next_shipment_date_rfc2822(sylius.channel) }}">
    <div class="item" title="{{ setono_shipping_countdown_next_shipment_date(sylius.channel)|date }}">
        <span class="text">{{ 'setono_sylius_shipping_countdown.ui.shipment_countdown.next_shipment'|trans }}</span>
        <span style="display: none;">
            &nbsp;
            <span class="days"></span>
            {{ 'setono_sylius_shipping_countdown.ui.shipment_countdown.days'|trans }}
        </span>
        &nbsp;
        <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
    </div>
</div>
